<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - My Telerik MVC Application</title>
    <link href="@Url.Content("~/Content/kendo/2021.1.224/kendo.bootstrap-v4.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="~/Content/kendo/2021.1.224/kendo.metroblack.min.css" rel="stylesheet" class="ui-theme" />
    <link href="~/Content/kendo/2021.1.224/kendo.common.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rajdhani%3A300%2C400%2C500%2C600%2C700%2C900&#038;subset=latin&#038;ver=4.8" type="text/css" />
    <link href="~/Content/autocomplete.css" rel="stylesheet" />

    @*<link href="~/Content/jquery.toolbar.css" rel="stylesheet" />*@

    @*<script src="@Url.Content("~/Scripts/kendo/2021.1.224/jquery.min.js")"></script>*@
    @*<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>*@
    @*<script src="https://kendo.cdn.telerik.com/2021.2.511/js/kendo.all.min.js"></script>*@

    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/kendo.all.min.js"></script>

    <script src="@Url.Content("~/Scripts/kendo/2021.1.224/angular.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2021.1.224/jszip.min.js")"></script>
    @*<script src="@Url.Content("~/Scripts/kendo/2021.1.224/kendo.all.min.js")"></script>*@
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>


    @*<script src="~/Scripts/jquery.toolbar.js"></script>*@

    <script src="~/MyJs/moment.js"></script>
    <script src="~/MyJs/KendoGlobalFunctions.js"></script>
    <script src="~/MyJs/GlobalVariable.js"></script>
    <script src="~/MyJs/BroadCast.js"></script>
    <script src="~/MyJs/CommonFunctions.js"></script>
    <script src="~/MyJs/lz-string.js"></script>
    <script src="~/MyJs/BOISettings.js"></script>
    <script src="~/Scripts/jquery.autocomplete.min.js"></script>
    <script src="~/MyJs/ClientSearch.js"></script>
    <script src="~/MyJs/SettingManager.js"></script>
</head>
<body class="k-content">
    <input type="hidden" id="cmbClients" value="All" />
    <input type="hidden" id="hfldUser" value="" />
    <input type="hidden" id="hfldBOIYN" value="" />
    
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid d-flex justify-content-between p-0">
            <h1 class="navbar-brand d-flex align-items-center">
                <a href="https://www.investmentz.com/explore-products" target="_blank">
                    <img src="~/img/investment_logo.png" style="width: 225px; margin-top: -10px;" />
                </a>
            </h1>
            <table border="1" style="width:20%">
                <tr class="indicesTr">
                    <th>Nifty 50</th>
                    <th>Nifty Bank</th>
                    <th>Sensex</th>
                </tr>
                <tr class="indicesTr">
                    <td class="17_999908_nf">
                        <span class="17_999908_LR">00000.00</span>
                        <img class="17_999908_IRateChange" style="height: 14px;" src="../img/icons/up-arrow.png" />
                    </td>
                    <td class="17_999988_nf">
                        <span class="17_999988_LR">00000.00</span>
                        <img class="17_999988_IRateChange" style="height: 14px;" src="../img/icons/up-arrow.png" />
                        <span type="hidden" class="17_999988_PC" hidden />
                        <span type="hidden" class="17_999908_PC" hidden />
                    </td>
                    <td class="5_1_nf">
                        <span class="5_1_LR">00000.00</span>
                        <img class="5_1_IRateChange" style="height: 14px;" src="../img/icons/up-arrow.png" />
                        <span type="hidden" class="5_1_PC" hidden />
                    </td>
                </tr>
                <tr class="indicesTr">
                    <td class="17_999908_nf1">
                        <span class="17_999908_RateChange">0.00</span>
                        <span class="17_999908_RateChangePc">(0.00%)</span>
                    </td>
                    <td class="17_999988_nf1">
                        <span class="17_999988_RateChange">0.00</span>
                        <span class="17_999988_RateChangePc">(0.00%)</span>
                    </td>
                    <td class="5_1_nf1">
                        <span class="5_1_RateChange">0.00</span>
                        <span class="5_1_RateChangePc">(0.00%)</span>
                    </td>
                </tr>
            </table>
            <input id="colorDrop" style="width: 10%; font-size: 12px;" />
            <button id="configure" class="k-rpanel-toggle k-button k-primary btn-toggle">
                <span class="k-icon k-i-menu"></span>
            </button>
            <span class="pull-right">
                <span>
                    <img id="Broadcast1" src="../img/dis-2.png"> B
                    <img id="Exchang1" src="../img/dis-2.png"> E
                </span>
            </span>
            <span id="BANameCode"></span>

            <input type="text" class="scrip-search-box" style="width: 20%; font-size: 12px;" id="txtSelectedClient" placeholder="Search By Code" autocomplete="off" />
            <i class="fa fa-times" id="btnCleanText"></i>
            <input type="hidden" id="hdnSelectedClient" />
              <span class="searchclose"><i class="fa fa-times" aria-hidden="true" id="btnCleanText" style="color:#4285f5;"></i></span>
                                                        <span class="user-plan" id="hideheadloader">
                                                            <i class="fa fa-spin fa-spinner fa-lg" id="iLoader"></i>
                                                        </span>
            <input id="clntSearchType" style="width: 5%; font-size: 12px;" />

            <button><i class="fa fa-power-off" aria-hidden="true" id="btnLogout" onclick="location.href='@Url.Action("Logout", "Home")'"></i></button>
        </div>      
    </nav>

    <main>
        <div class="container-fluid">
            @RenderBody()
        </div>
    </main>

    <footer class="footer text-center d-flex align-items-center">
        
    </footer>

    <script>
        var theme = [];
        $(document).ready(function () {
           // alert(sessionStorage.getItem("MyId"));

          //themeChange(sessionStorage.getItem("ThemeColor"))
            theme = [
                { value: "kendo.metroblack.min", Id: 0, name: "Metro-Black" },
                { value: "kendo.blueopal.min", Id: 1, name: "Opal" },
                { value: "kendo.highcontrast.min", Id: 2, name: "HighContrast" },
                { value: "kendo.black.min", Id: 3, name: "Black" },
                { value: "kendo.Moonlight.min", Id: 4, name: "Moonlight" },
            ];

            var Searchtype = [
                { value: "N", name: "Name" },
                { value: "C", name: "Code" }
            ];

            //KendoDropDownList("colorDrop", theme, "value", "name", themeChange, false, "", 0);

            $("#colorDrop").kendoDropDownList({
                dataSource: theme,
                dataValueField: "value",
                dataTextField: "name",
                change: function (e) {
                    console.log(this);
                    var value = $("#colorDrop").data("kendoDropDownList").dataItem($("#colorDrop").data("kendoDropDownList").select()).Id;
                    //alert(value);
                    themeChange(value);
                    // Use the value of the widget
                },
                index: 0,
                animation: {
                    close: {
                        effects: "zoom:out",
                        duration: 200
                    }
                }
            });

            var myDropDownList = $("#colorDrop");

            var remoteDropDown = $("#colorDrop").data("kendoDropDownList");

            remoteDropDown.list.width("auto");

            myDropDownList.closest(".k-dropdownlist").css({
                'z-index': 2
            });
//---------

            KendoDropDownList("clntSearchType", Searchtype, "value", "name", "", false, "", 1);

           // themeChange(sessionStorage.getItem("ThemeColor"));

            $("#responsive-panel").kendoResponsivePanel({
                breakpoint: 768,
                autoClose: false,
                orientation: "top"
            });
            $("#menu").kendoMenu();

            GetBcastUrl(6);

            $.ajax({
               // url: "https://ctcluat.investmentz.com/Home/clientnameanducc",
                url: "/Home/clientnameanducc",
                type: "GET",
                data: {
                },
                dataType: "json",
                success: function (data) {
                    //console.log(data);
                    if (data == false) {

                     //   location.href = "https://ctcluat.investmentz.com/Login/Login"

                    }
                    var UserType = localStorage.getItem("EmpCTCLtype");
                    var code = localStorage.getItem("BACode");

                    if (UserType == "Emp") {
                        setTimeout(function () {
                            setLoginEmp(code, 'E');
                            setSearchTrip();
                         //   var str = $("#txtSelectedClient").val().toString().split('-')[1].trim();
                          
                           // $("#txtClientCode").val($("#txtSelectedClient").val().toString().split('-')[0].trim());
                        }, 10);
                    }
                    else {
                        setTimeout(function () {
                            setLoginEmp(code, 'B');
                            setSearchTrip();
                        }, 10);
                    }
                  
                   
                },
                error: function (data) {
                    console.log(data);
                }
            });
            
        });

        

        $(document).on("change", "#clntSearchType", function (event) {
            if ($(this).val() == "C") {
                $('#txtSelectedClient').attr("placeholder", "Search by code");
                $("#cmbclients1").val("");
            }
            else {
                $('#txtSelectedClient').attr("placeholder", "Search by name");
                $("#cmbclients1").val("");
            }
        });

        function themeChange(ncolor = "") {

            var localStr = "";
            var cssLink = "";


            if (ncolor != '' || ncolor == undefined || ncolor == null) {
                var Id = $("#colorDrop").data("kendoDropDownList").dataItem($("#colorDrop").data("kendoDropDownList").select()).Id;
                if (ncolor == 0)
                {
                    localStr = "kendo.metroblack.min";
                } else if (ncolor == 1)
                {
                    localStr = "kendo.blueopal.min";
                } else if (ncolor == 2)
                {
                    localStr = "kendo.highcontrast.min";
                } else if (ncolor == 3)
                {
                    localStr = "kendo.black.min";
                } else if (ncolor == 4)
                {
                    localStr = "kendo.Moonlight.min";
                }

                sessionStorage.setItem("ThemeColor", ncolor);

                cssLink = $('<link href="../Content/kendo/2021.1.224/' + localStr + '.css" type="text/css" rel="Stylesheet"/>');
                $("head").append(cssLink);

                if ($("link.ui-theme").length > 3) {
                   $("link.ui-theme:first").remove();
                }
                $("#colorDrop").data('kendoDropDownList').value(localStr);
            } else {
                localStr = $("#colorDrop").val();
                cssLink = $('<link href="../Content/kendo/2021.1.224/' + localStr + '.css" type="text/css" rel="Stylesheet"/>');
                $("head").append(cssLink);
                
                //if ($("link.ui-theme").size() > 3) {
                //    $("link.ui-theme:first").remove();
                //}
            }

        }

    </script>
</body>
</html>
<script src="~/MyJs/GetSettings.js"></script>